<mat-tab-group mat-stretch-tabs color="primary" backgroundColor="primary" mat-align-tabs="center" id="skills">
  <mat-tab>
    <!-- display all tech -->
    <ng-template mat-tab-label>
      <mat-icon  matTooltip="All skills">
          <i class="fas fa-infinity"></i>
      </mat-icon>
    </ng-template>
    <h1 class="primaryFont">all</h1>
    <ul class="row">
      <div *ngFor="let technology of technologies">
        <li class="col s12 m4" *ngFor="let skill of technology.skills">{{skill}}</li>
      </div>
    </ul>
  </mat-tab>
  <!-- display each tech -->
  <mat-tab *ngFor="let technology of technologies">
    <ng-template mat-tab-label>
      <mat-icon matTooltip={{technology.type}}>
          <i class="fas {{technology.icon}}"></i>
      </mat-icon>
    </ng-template>
    <h1 class="primaryFont">{{technology.type}}</h1>
    <ul class="row">
      <li class="col s12 m4" *ngFor="let skill of technology.skills">{{skill}}</li>
    </ul>
  </mat-tab>
</mat-tab-group>
