@font-face {
    font-family: Merkur;
    src: url('../../assets/font/Merkur.otf') format("opentype");
}

.primaryFont{
    font-family: Merkur;
}

#skills{
    position: relative;
    background-color: white;
    display: inline-block;
    margin: 16px;
    max-width: 300px;
    height: 85vh;
}
@media only screen and (min-width: 600px) {
    #skills {
        max-width: 580px;
    }
}
@media only screen and (min-width: 768px) {
    #skills {
        max-width: 748px;
    }
}