#footer{
    position: absolute;
    background-color: #373D48;
    height: 3.2vh;
    width: 100%;
    a{
        i{
            font-size: 1.5rem;
            color: #FFFFFF;
            margin: 0 1rem;
        }
    }
}
