
// $primarycolor: #373D48;
$primarycolor: #b62450;

#footer{
    position: fixed;
    bottom: 0;
    background-color: $primarycolor;
    height: 50px;
    width: 100%;
    z-index: 1;
    a{
        i{
            font-size: 1.5rem;
            color: #FFFFFF;
            margin: 0 1rem;
        }
    }
}
