<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ )">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.toggle()" mat-list-item routerLink="" >
        <mat-icon class="drawerIcon">home</mat-icon>Home
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/about" >
        <mat-icon class="drawerIcon">account_circle</mat-icon>About
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/skills" >
        <mat-icon class="drawerIcon">build</mat-icon>Skills
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/portfolio" >
        <mat-icon class="drawerIcon">apps</mat-icon>Portfolio
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/resume" >
        <mat-icon class="drawerIcon">attach_file</mat-icon>Resume
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"  *ngIf="isHandset$">
        <mat-icon class="hide-on-large-only" aria-label="Side nav toggle icon">menu</mat-icon>
        <div class="row hide-on-med-and-down">
          <a [routerLink]="['/about']"  routerLinkActive="router-link-active">
            <button mat-stroked-button>About</button>
          </a>
          <a [routerLink]="['/skills']"  routerLinkActive="router-link-active">
            <button mat-stroked-button>Skills</button>
          </a>
          <a [routerLink]="['/portfolio']"  routerLinkActive="router-link-active">
            <button mat-stroked-button>Portfolio</button>
          </a>
          <a [routerLink]="['/resume']"  routerLinkActive="router-link-active">
            <button mat-stroked-button>Resume</button>
          </a>
        </div>
      </button>
      <div class="row">
        <br>
        <a routerLink="/" class="brand-logo center-align">HC</a>
      </div>
    </mat-toolbar>
    <div id="backgroudImg">
      <!-- <img src="./assets/img/bg.jpg"> -->
      <div class="container center-align" id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
