/*Logo font*/
// @import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@font-face {
  font-family: Merkur;
  src: url('../../assets/font/Merkur.otf') format("opentype");
}

$primaryColor: #373D48;
$primaryTextColor: #FFFFFF;

mat-toolbar{

  .navLinks{
    float:left;
  }

  button{
    margin: 0 5px;
    
    &:focus{
      background-color: $primaryColor;
    }
  }
  
  .brand-logo{
    display: flex;
    margin:0 25%;
    font-family: 'Merkur', cursive;
    
    a{
      color:$primaryTextColor;
      font-size: 5rem;  
    }
  }
}

.drawerIcon{
  margin: 1em;
  color: $primaryColor;
}

.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
#backgroudImg {
  background-image: url('../../assets/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#content{
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;
}