/*Logo font*/
// @import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@font-face {
  font-family: Merkur;
  src: url('../../assets/font/Merkur.otf') format("opentype");
}
$mainColor: #FFFFFF;
a {
  color: $mainColor;
  margin: 0 5px;
}
// .drawerIcon{
//   margin: 1em;
//   color: #373D48;
// }
.brand-logo{
  font-family: 'Merkur', cursive;
  color:$mainColor;
  // border: 10px solid #373D48;
  // background-color: #373D48;
  font-size: 5rem;
  border-radius: 100%;
}


.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
#backgroudImg {
  background-image: url('../../assets/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // img {
  //   opacity: 1;
  //   position: absolute;
  //   height: 90vh;
  //   width: 100%;
  //   z-index: -1;
  // }
}
#content{
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;
}

