<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ )">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.toggle()" mat-list-item routerLink="" >
        <mat-icon class="drawerIcon">home</mat-icon>Home
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/about" >
        <mat-icon class="drawerIcon">account_circle</mat-icon>About
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/skills" >
        <mat-icon class="drawerIcon">build</mat-icon>Skills
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/portfolio" >
        <mat-icon class="drawerIcon">apps</mat-icon>Portfolio
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/resume" >
        <mat-icon class="drawerIcon">attach_file</mat-icon>Resume
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="container-fluid" color="primary">
      <mat-toolbar-row>
        <button class="hide-on-large-only" (click)="drawer.toggle()" type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="isHandset$">
          <mat-icon  aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="hide-on-med-and-down navLinks">
          <button [routerLink]="['/about']"  routerLinkActive="router-link-active" mat-stroked-button>About</button>
          <button [routerLink]="['/skills']"  routerLinkActive="router-link-active" mat-stroked-button>Skills</button>
          <button [routerLink]="['/portfolio']"  routerLinkActive="router-link-active" mat-stroked-button>Portfolio</button>
          <button [routerLink]="['/resume']"  routerLinkActive="router-link-active" mat-stroked-button>Resume</button>
        </span>
        <div class="center-align brand-logo">
          <a routerLink="/" class="">HC</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div id="backgroudImg">
      <div class="container center-align" id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
