<div id="about" class="row">
  <div class="col s12 offset-3" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <img class="circle responsive-img" src="../../assets/img/portofolio/portofolio-img.jpg" />
        </div>
      </div>
    </div>
    <p class="flow-text">
      Hector Candelaria is an enthusiastic Full Stack Web Developer from New Jersey. Hector developed a love for
      computers at the early age of 12. Since then, he continuously learn new technologies to pursuit his passion.
      Attracted to Software development, Hector found a rewarding feeling from developing software. Often described by
      him as the same feeling from winning a video game level.
    </p>
    <p class="flow-text">
      After completing Rutgers University Codingbootcamp, Hector accepted an job offer as a Teacher Assistant in the
      same Program. Where Hector helps and inspire young and veterans developers learn new technologies.
    </p>
    <p class="flow-text">
      Some of Hector's goals are to be part of a steep organization where he solves current life problems. To instruct his own class
      where he can teach and inpire developers. Create software and modules that can help others developers.
    </p>
  </div>
</div>