<div id="about" class="row">
  <div class="col s12 offset-3" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <img class="circle responsive-img" src="\assets\img\portofolio\portofolio-img.jpeg" />
        </div>
      </div>
    </div>
    <p class="flow-text">
      Hector Candelaria is an enthusiastic Full Stack Web Developer from New Jersey. Hector developed a love for
      computers at the early age of 12. Since then, he continuously learn new technologies to pursuit his passion.
      Attracted to Software development, Hector found a rewarding feeling from developing software. Often described by
      him as the same feeling from winning a video game level.
    </p>
    <p class="flow-text">
      After completing Rutgers University Codingbootcamp, Hector accepted an job offer as a Teacher Assistant in the
      same Program. Today Hector helps new developers learn new technologies at Rutgers University.
    </p>
  </div>
</div>