#portfolio{
    overflow: auto;
    overflow-y: scroll;
    height: 89vh;
    box-sizing: content-box;
}
#portfolio::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}