$primaryColor: #01002a;
span{
    cursor: pointer;
    
    a{
        color: $primaryColor;
    }
}
.categories{
    a{
        margin: 0 1rem;
    }
}
img{
    width: 50%;
}
.mat-chip.mat-primary.mat-standard-chip.ng-star-inserted{
    background-color: $primaryColor;
    color: white;
}