$primaryColor: #01002a;
span{
    cursor: pointer;
    
    a{
        color: $primaryColor;
    }
}
.categories{
    a{
        margin: 5px;
    }
}
img{
    margin-top: 10px;
    width: 50%;
}
.mat-chip.mat-primary.mat-standard-chip.ng-star-inserted{
    background-color: $primaryColor;
    color: white;
}
@media screen and (max-width: 600px) {
    img{
        width: 100%;
    }
    #dialog{
        overflow: auto;
        overflow-y: scroll;
        height: 85vh;
        &::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }
    }

}