// @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@font-face {
  font-family: Merkur;
  src: url('../../assets/font/Merkur.otf') format("opentype");
}
$secondaryColor: #95555A;
.welcome{
  h1{
    color: $secondaryColor;
    font-family: Merkur;
    animation-name: fade-in;
    animation-duration: 1s;
    font-size: 20vh;
  }
}
// .welcome {
//   svg {
// 	width: 60vw;
// 	margin-left: 25%;
//   height: auto;
//   fill: none;
//   stroke: #FFFFFF;
//   stroke-width: 4;
// 	text-align: center;

//     tspan>tspan {
// 		text-align: center;
// 		margin-left: auto;
// 		margin-right: auto;
//       	stroke-dasharray: 1500;
//       	stroke-dashoffset: -1500;

//       @for $i from 1 through 7 {

//         &:nth-of-type(#{$i}) {
//           animation: draw 300ms #{$i * 250}ms forwards;
//         }

//       }

//     }

//   }

// }
.about-links {
  div {
	
    a {
			color: #000000;
      margin: 0 2rem;
      animation-name: fade-in;
      animation-fill-mode: both;
      animation-duration: 1s;
			@for $i from 1 through 3 {
				&:nth-of-type(#{$i}) {
					animation-delay: #{$i}s;
			}
		}
		mat-icon{
      color: #FFFFFF;
			font-size: 5rem;
		}
    }
  }
}

@keyframes draw {

	100% {
	  stroke-dashoffset: 0;
	}
  
  }
@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fade-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@media only screen and (max-width: 375px) {
  .welcome{
    h1{
      font-size: 10vh;
    }
  }
}