// @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@font-face {
  font-family: Merkur;
  src: url('../../assets/font/Merkur.otf') format("opentype");
}
$maincolor: #FFFFFF;
.welcome{
  h1{
    color: $maincolor;
    font-family: Merkur;

    font-size: 20vh;
    -webkit-animation: flickerAnimation 3s infinite;
    -moz-animation: flickerAnimation 3s infinite;
    -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
  }
}

@media only screen and (max-width: 375px) {
  .welcome{
    h1{
      font-size: 15vw;
    }
  }
}
@keyframes flickerAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}